<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Block TBA{% endblock %}</title>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div id="header">
            Blog TBA
        </div>
        <div id="main">
            <div id="left">
                {% block content %}{% endblock %}
            </div>
            <div id="right">
                <h2>Monthly Archives</h2>
                <ul>
                    {% for month in all_months %}
                        <li><a href="{{ month.url }}">{{ month.date_obj|date:"F Y" }}</a></li>
                    {% endfor %}
                </ul>

                <h2>Categories</h2>
                <ul>
                    {% for category in all_categories %}
                        <li><a href="{{ category.get_absolute_url }}">{{ category }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="footer">
            &copy;2021 Nicholas E. Rothfuss
        </div>
</html>