<!DOCTYPE html>
<html>
<head>
    <title>{{ month|date:"F Y" }}: Blog</title>
</head>
<body>
    <h1>Posts from {{ month|date:"F Y" }}</h1>
    {% for post in posts %}
        <h2>{{ post.title }}</h2>
        {{ post.content|linebreaks }}
        <p>
            Posted in 
            {% for category in post.categories.all %}
                <a href="{{ category.get_absolute_url }}">{{ category }}</a>
            {% empty %}
                Uncategorized
            {% endfor %}
        </p>
        <p><a href="{{ post.get_absolute_url }}">Permalink</a></p>
    {% endfor %}
</body>
</html>